/da/.mvn
/da/mvnw
/da/mvnw.cmd

/da/HELP.md
/da/target/
/da/!.mvn/wrapper/maven-wrapper.jar
/da/!**/src/main/**/target/
/da/!**/src/test/**/target/

/da/src/main/resources/venv
/da/.gitignore

### IntelliJ IDEA ###
/da/.idea
/da/*.iws
/da/*.iml
/da/*.ipr

/da-ui/node_modules
/da-ui/coverage
/da-ui/build
/da-ui/.pnp.js
/da-ui/.DS_Store
/da-ui/.env.local
/da-ui/.env.development.local
/da-ui/.env.test.local
/da-ui/.env.production.local

/da-ui/npm-debug.log*
/da-ui/yarn-debug.log*
/da-ui/yarn-error.log*

.DS_Store
